<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Negotiator Test Suite">
          <directory>./tests/BadFaith</directory>
        </testsuite>
        <testsuite name="AcceptLike Test Suite">
          <directory>./tests/BadFaith</directory>
        </testsuite>
        <testsuite name="AcceptLikeList Test Suite">
          <directory>./tests/BadFaith</directory>
        </testsuite>
        <testsuite name="AcceptList Test Suite">
          <directory>./tests/BadFaith</directory>
        </testsuite>
    </testsuites>
</phpunit>
